.app-loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(52, 49, 47, 0.645);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-loader-msg {
  font-size: 40px;
}