.app-main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-main-wrong {
  margin-top: 100px;
}
.app-main-error-tip {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 50px auto 30px auto;
  width: 80%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}
.main-card-wrapper {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
}
.app-main-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  list-style-type: none;
  @media screen and (max-width: 870px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
